html {
  box-sizing: border-box;
  background-color: #e2e2e2;
  font: normal 1rem/1.5 sans-serif, cursive;
  color: #fff;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

header {
  margin: 0;
  padding: 0;
  background-color: #79756f;
  border: 3px solid #595652;
  height: 100%;
  padding-bottom: 0.6em;
}

.logo {
  font-size: 2rem;
  font-family: 'Bevan', sans-serif, cursive;
  text-align: center;
  margin: 0;
  padding: 0.7rem;
}

.nav {
  text-align: center;
  margin: 0;
  display: block;
  padding: 0;
}

.nav li {
  display: inline-block;
  list-style-type: none;
}

.nav li a {
  display: inline-block;
  background-color: #713837;
  color: #fff;
  border-radius: 5px;
  text-decoration: none;
  padding: 0.5em 0.75em;
  margin: 0.3rem;
  font-weight: bold;
  font-size: 1rem;
  overflow: hidden;
}

.nav li a:hover {
  background-color: #f30;
}
